@model Rencontres.Web.Models.Home.IndexModel
@{
    ViewData["Title"] = "Rencontres non-scolarisées";
}

<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="~/images/Uploaded/TitreRencontre/@Model.Rencontre.ImageTitre" alt="@Model.Rencontre.Titre"
             style="width: 400px; height: 300px;margin-left: auto;margin-right: auto;display: block;">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>@Model.Rencontre.Titre</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">@Model.Rencontre.DateDebut.ToString("dd MMM yyyy") - @Model.Rencontre.DateFin.ToString("dd MMM yyyy") </h6>
        <!-- Text -->
        <p class="card-text">
            @Model.Rencontre.DescriptionPublique
        </p>


    </div>

</div>
<!-- Card -->
@for (int i = 0; i < Model.Charte.Count; i++)
{
    var contenu = Model.Charte[i];
    string hiddenStyle = (i == 0) ? "" : "display:none;";
    var chkId = "Accepte" + i;
    
    <div id="@($"divCharte{i}")" class="card text-center" style="width: 22rem;@hiddenStyle">
        <div class="card-header success-color white-text">
            Lisez et acceptez :
        </div>
        <div class="card-body">
            <h4 class="card-title">@contenu.Categorie</h4>
            <p class="card-text">@Html.Raw(contenu.Contenu)</p>

        </div>
        <div class="card-footer text-muted ">
            <p class="mb-0">
                <!-- Default unchecked -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@chkId" onchange="deroule(@i)">
                    <label class="custom-control-label" for="@chkId">J'ai lu et accepté</label>
                </div>
            </p>
        </div>
    </div>
}

@section Scripts
    {
    <script>

        function deroule(i) {
            $("#Accepte" + i).prop("disabled", true);
            $("#divCharte" + (i + 1)).show();
        }
    </script>
}