@using MyMeetUp.Logic.Entities
@using MyMeetup.Web.Models.Home
@model MyMeetup.Web.Models.Home.MyAccountModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Bienvenue !";
    int oldMeetupCount = Model.OldMeetups.Count;
    int futureMeetup = Model.NextMeetups.Count;
    string classAlert = Model.IsOkToGetEmail ? "success" : "warning";
}

<div class="card" style="width: 72rem;">
    <div class="card-body">
        <h5 class="card-title">Bonjour, @Model.CurrentUser.FirstName @Model.CurrentUser.LastName </h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            @Html.Raw(Model.NextRegistrations)
            <br />
            Pour nous écrire : <a href="mailto:@ViewBag.ContactEmail">@ViewBag.ContactEmail</a>
            <div class="alert alert-@classAlert row" role="alert">
                <div class="col-md-8">
                    @Model.EmailContactText
                </div>
                <div class="col-md-4">

                    <a href="/changeEmailContact" class="btn btn-warning">Clicque ici si tu as changé d'avis</a>
                </div>
            </div>
        </p>

    </div>
</div>
@if (futureMeetup > 0)
{
    <div class="card" style="width: 72rem; margin-top: 20px">
        <div class="card-body">
            <h5 class="card-title">Voici la liste des prochaines rencontres</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nous t'attendons !</h6>
            <p class="card-text">
                <table id="oldMeetups" class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Inscription</th>
                    </tr>
                    <tbody>
                        @foreach (NextMeetupView meetup in Model.NextMeetups)
                        {
                            <tr>
                                <td>
                                    <strong>@meetup.Title</strong>
                                </td>
                                <td>
                                    @meetup.MeetupDate
                                </td>
                                <td>
                                    @if (meetup.CanRegister)
                                    {
                                        @if (Model.EstAjoutCotisation == false)
                                        {
                                            <text>
                                                Vous devez payer l'adhésion.<br/>'
                                                <iframe id="haWidgetButton" src="https://www.helloasso.com/associations/rencontres-non-scos/paiements/inscription-a-l-association/widget-bouton" style="border: none;"></iframe>
                                                <div style="width: 100%; text-align: center;">Propulsé par <a href="https://www.helloasso.com" rel="nofollow">HelloAsso</a></div>
            (Il nous faudra un peu de temps pour mettre à jour les données affichées ici)
                                            </text>
                                        }
                                        else
                                        {
                                            <a href="/register/@meetup.MeetupId" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">S'y inscrire</a>
                                        }
                                    }
                                    else
                                    {
                                        <text>L'inscription n'est pas encore ouverte</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p>

        </div>
    </div>

}

@if (oldMeetupCount > 0)
{
    <div class="card" style="width: 72rem; margin-top: 20px">
        <div class="card-body">
            <h5 class="card-title">Tu as déjà participé à @oldMeetupCount rencontre@(oldMeetupCount > 1 ? "s" : "") </h5>
            <h6 class="card-subtitle mb-2 text-muted">Merci pour ta présence !</h6>
            <p class="card-text">
                <table id="oldMeetups" class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Code</th>
                    </tr>
                    <tbody>
                        @foreach (var registration in Model.OldMeetups)
                        {
                            <tr>
                                <td>
                                    <strong>@registration.Meetup.Title</strong>
                                </td>
                                <td>
                                    Du @registration.Meetup.StartDate.ToString("dd/MM/yyyy") au @registration.Meetup.EndDate.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @registration.RegistrationCode
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p>

        </div>
    </div>

}
<div class="card" style="width: 72rem; margin-top: 20px">
    <div class="card-body">
        <h5 class="card-title">Adhésions </h5>
        <h6 class="card-subtitle mb-2 text-muted">

        </h6>
        <p class="card-text">
            @if (Model.Payments.Any())
            {
            <table class="table table-striped table-bordered" cellspacing="0" id="dtPayments">
                <thead>
                <th class="th-sm">Date</th>
                <th class="th-sm">Montant</th>

                </thead>
                <tbody>
                    @foreach (Payment payment in Model.Payments)
                    {
                    <tr>

                        <td data-order="@payment.PaymentDate">@payment.PaymentDate.ToString("dd/MM/yyyy")</td>
                        <td>@payment.AmountPaid.ToString("C")</td>

                    </tr>
                    }
                </tbody>
            </table>
            }
            @*else
            {
            <text>
                Notre base de données ne contient pas de trace d'adhésion pour toi, alors que tu as adhéré(e), cependant c'est probablement une erreur de saisie de notre part.
                <br />
                N'hésite pas à nous contacter par <a href="mailto:@ViewBag.ContactEmail">@ViewBag.ContactEmail</a>	pour que nous corrigions cela.
                '
            </text>
            }*@
        </p>
        @*Nous avons prolongé l'année couverte par les adhésions en cours : aussi, si votre famille est déjà adhérente (et a donc déjà réglé 5€ à notre asso), votre nouvelle cotisation ne sera à effectuer qu'en 2020. Pour les autres, pour pouvoir vous inscrire et participer à cette nouvelle rencontre : vous devez adhérer à notre association, au tarif de 2€/famille.
<br />*@
        @*<iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/rencontres-non-scos/adhesions/adhesion-jusqu-au-31-12-2019/widget-bouton" style="width:100%;height:70px;border:none;"></iframe><div style="width:100%;text-align:center;">Propulsé par <a href="https://www.helloasso.com" rel="nofollow">HelloAsso</a></div>
        
        <br />
        (Il nous faudra un peu de temps pour mettre à jour les données affichées ici)*@
    </div>
</div>