@using MyMeetup.Web.Models.Home
@model MyMeetup.Web.Models.Home.MyAccountModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Bienvenue !";
    int oldMeetupCount = Model.OldMeetups.Count;
    int futureMeetup = Model.NextMeetups.Count;
    string classAlert = Model.IsOkToGetEmail ? "success" : "warning";
}

<div class="card" style="width: 72rem;">
    <div class="card-body">
        <h5 class="card-title">Bonjour, @Model.CurrentUser.FirstName @Model.CurrentUser.LastName </h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            @Html.Raw(Model.NextRegistrations)
            <br />
            Pour nous écrire : <a href="mailto:@ViewBag.ContactEmail">@ViewBag.ContactEmail</a>
            <div class="alert alert-@classAlert row" role="alert">
                <div class="col-md-8">
                    @Model.EmailContactText
                </div>
                <div class="col-md-4">

                    <a href="/changeEmailContact" class="btn btn-warning">Clicque ici si tu as changé d'avis</a>
                </div>
            </div>
        </p>

    </div>
</div>
@if (futureMeetup > 0)
{
    <div class="card" style="width: 72rem; margin-top: 20px">
        <div class="card-body">
            <h5 class="card-title">Voici la liste des prochaines rencontres</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nous t'attendons !</h6>
            <p class="card-text">
                <table id="oldMeetups" class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Inscription</th>
                    </tr>
                    <tbody>
                        @foreach (NextMeetupView meetup in Model.NextMeetups)
                        {
                            <tr>
                                <td>
                                    <strong>@meetup.Title</strong>
                                </td>
                                <td>
                                    @meetup.MeetupDate
                                </td>
                                <td>
                                    @if (meetup.CanRegister)
                                    {
                                        <a href="/register/@meetup.MeetupId" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">S'y inscrire</a>
                                    }
                                    else
                                    {
                                        <text>L'inscription n'est pas encore ouverte</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p>

        </div>
    </div>

}

@if (oldMeetupCount > 0)
{
    <div class="card" style="width: 72rem; margin-top: 20px">
        <div class="card-body">
            <h5 class="card-title">Tu as déjà participé à @oldMeetupCount rencontre@(oldMeetupCount > 1 ? "s" : "") </h5>
            <h6 class="card-subtitle mb-2 text-muted">Merci pour ta présence !</h6>
            <p class="card-text">
                <table id="oldMeetups" class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Code</th>
                    </tr>
                    <tbody>
                        @foreach (var registration in Model.OldMeetups)
                        {
                            <tr>
                                <td>
                                    <strong>@registration.Meetup.Title</strong>
                                </td>
                                <td>
                                    Du @registration.Meetup.StartDate.ToString("dd/MM/yyyy") au @registration.Meetup.EndDate.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @registration.RegistrationCode
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p>

        </div>
    </div>

}