@model MyMeetup.Web.Models.MeetupRegisterModel
@{
    ViewData["Title"] = "S'enregistrer";
}

<h1>S'enregistrer à @Model.Meetup.Title</h1>

@if (Model.Errors.Any())
{
    <div>
        <div class="alert alert-danger" role="alert">
            <ul>
                @foreach (var erreur in Model.Errors)
                {
                    <li>@erreur</li>
                }
            </ul>
        </div>
    </div>
}
<div class="card w-100" style="margin-top: 10px">
    <div class="card-header primary-color white-text">
        Enregistrement
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Home" asp-action="postRegister" id="frmRegister">
            <div class="form-row">
                <input type="hidden" name="@nameof(@Model.MeetupId)" value="@Model.MeetupId" />
                <div class="col-md-2">
                    <label for="Accomodation" class="font-weight-light">Hébergement désiré</label>
                </div>
                <div class="col-md-4">
                    <div class="md-form">

                        <select style="width: 300px;text-align:right" required id="Accomodation" name="@nameof(Model.AccomodationId)">
                            @foreach (var item in Model.PossibleAccomodations)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>

                    </div>
                    <div class="alert alert-primary" role="alert">
                        Ce choix est à titre indicatif, les logements seront attribués par ordre chronologique de réservation.
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="md-form">
                        <input type="number" min="0" max="9" id="homeTitle" class="form-control" required name="@nameof(Model.AdultNumber)" maxlength="1"
                               value="@Model.AdultNumber">
                        <label for="homeTitle" class="font-weight-light">Nombre d'adultes</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="md-form">
                        <input type="number" min="0" max="9" id="NbKids" class="form-control" required name="@nameof(Model.ChildrenNumber)" maxlength="1"
                               value="@Model.ChildrenNumber">
                        <label for="NbKids" class="font-weight-light">Nombre d'enfants</label>
                    </div>
                </div>
            </div>

            <div class="alert alert-primary" role="alert"><ul>
    <li>
        Vous devez indiquer vos <strong>noms, prénoms, adresse postale</strong>.
    </li>
    <li>  Si vous souhaitez faire une demande pour voir si vous pouvez obtenir la VACAF, indiquez-le dans la commentaire ci-dessous car cela demande une procédure administrative différente.</li>
                    <li>   Si vous partagez votre emplacement/logement avec une autre famille, merci de nous indiquer un contact pour eux : nom/prénom et email.
    </li>
</ul>
                    </div>
            <div class="row">
                <div class="col">
                    <label for="Notes">Commentaires & indications</label>
                    <textarea class="meetupTextArea" required name="@nameof(Model.Notes)" id="Notes" 
                              maxlength="500">@Model.Notes</textarea>
                </div>
            </div>
            <div class="alert alert-primary" role="alert">
                En cliquant sur S'inscrire, ta demande de réservation sera envoyée (avec une copie sur @Model.UserEmail) à La Taillade.
            </div>
            <a class="btn btn-primary" onclick="validateForm('frmRegister')">S'inscrire</a>
            <a href="/me" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
@section scripts
    {

    <script src="~/lib/tinymce/js/tinymce.min.js"></script>

    <script>
        $(function () {
            initMCE({ selector: '.meetupTextArea', height: "250" });
        });


        function validateForm(id) {
            debugger;
            tinyMCE.triggerSave();
            document.getElementById(id).submit();
        }
    </script>
}
