@using Microsoft.AspNetCore.Identity
@using MyMeetUp.Logic.Infrastructure


@inject SignInManager<MyMeetupUser> SignInManager
@inject UserManager<MyMeetupUser> UserManager
@{
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString().ToLower();
    var action = ViewContext.RouteData.Values["Action"]?.ToString().ToLower();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["Title"] - MyMeetup</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/lib/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/lib/mdbootstrap/css/style.min.css" rel="stylesheet">
</head>
<body>

    @if (SignInManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-expand-lg navbar-dark primary-color sticky-top">

            <!-- Navbar brand -->
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Administration</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(controller == "Home" && action=="me" ? "active" : "")">
                        <a asp-controller="Home" asp-action="MyAccount" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Mes infos</a>
                    </li>
                    <li class="nav-item  @(controller == "Home"  && action=="charter" ? "active" : "")">
                        <a  asp-controller="Home" asp-action="Charter" class="nav-link"><i class="fa fa-gavel"></i> Charte</a>
                    </li>
                    
                </ul>

                <partial name="_LoginPartial" />
            </div>
            <!-- Collapsible content -->

        </nav>
    }
    @*<partial name="_CookieConsentPartial" />*@
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018-20 - @ViewBag.AppTitle / <a href="mailto:@ViewBag.ContactEmail">@ViewBag.ContactEmail</a></p>
        </footer>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <environment include="Development">

        @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        @*
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
        *@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>